<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fuber</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- css link-->
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="apps_page">

  <nav>
      <div class="nav">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <a href="">Link</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <a href="">Link</a>
          </div>
      </div>
  </nav>

  <div id="apps_header">
    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
    <h1>Fuber Friends</h1>
  </div>

  <div class="related_apps col-sm-12 col-xs-12">
    <img class="col-sm-3 col-xs-3 app_logo" src="image/66BgcxB.jpg" alt="Logo">
    <div class="app_info col-sm-8 col-xs-8">
        <a><h3 class="app_name">App Name</h3></a>
        <p class="app_detail">dafsjlkfkadljfkldajkldfsjklasdjkldasdfffffffgfagjsakjasl</p>
    </div>
  </div>

  <div class="related_apps2 col-sm-12 col-xs-12">
    <div class="app_info col-sm-8 col-xs-8">
        <a><h3 class="app_name">App Name</h3></a>
        <p class="app_detail">dafsjlkfkadljfkldajkldfsjklasdjkldasdfffffffgfagjsakjasl</p>
    </div>
    <img class="col-sm-3 col-xs-3 app_logo" src="image/66BgcxB.jpg" alt="Logo">
  </div>

  <div class="related_apps col-sm-12 col-xs-12">
    <img class="col-sm-3 col-xs-3 app_logo" src="image/66BgcxB.jpg" alt="Logo">
    <div class="app_info col-sm-8 col-xs-8">
        <a><h3 class="app_name">App Name</h3></a>
        <p class="app_detail">dafsjlkfkadljfkldajkldfsjklasdjkldasdfffffffgfagjsakjasl</p>
    </div>
  </div>

  <div class="related_apps2 col-sm-12 col-xs-12">
    <div class="app_info col-sm-8 col-xs-8">
        <a><h3 class="app_name">App Name</h3></a>
        <p class="app_detail">dafsjlkfkadljfkldajkldfsjklasdjkldasdfffffffgfagjsakjasl</p>
    </div>
    <img class="col-sm-3 col-xs-3 app_logo" src="image/66BgcxB.jpg" alt="Logo">
  </div>
</body>
