<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF_8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- css link-->
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>
    <div class="kitchen_container">
        <div class="kitchen_row">
            <div class="kitchen_header">
                <div class="kitchen_icon">
                  <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
                </div>
                <h1>My Kitchen</h1>
            </div>
            <div class="kitchen_feature">
                <div id="kitchen_function" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <form>
                        <input type="text" name="search" placeholder="Search..">
                    </form>
                </div>
                <div id="kitchen_function" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <form>
                        <select name="sort_by" id="sort_by">
                        <option></option>
                        <option>
                            Date
                        </option>
                        <option>
                            Amount
                        </option>
                        <option>
                            Item
                        </option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="Kitchen_list" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table>
                    <tr>
                        <th>Item 1</th>
                        <th>Quantity</th>
                    </tr>
                    <tr class="date">
                        <th>
                            Date expired
                        </th>
                        <td>

                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Item 2</th>
                        <th>Quantity</th>
                    </tr>
                    <tr class="date">
                        <th>
                            Date expired
                        </th>
                        <td>

                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Item 3</th>
                        <th>Quantity</th>
                    </tr>
                    <tr class="date">
                        <th>
                            Date expired
                        </th>
                        <td>

                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Item 4</th>
                        <th>Quantity</th>
                    </tr>
                    <tr class="date">
                        <th>
                            Date expired
                        </th>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>


</html>
