<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF_8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- css link-->
    <link rel="stylesheet" href="css/sample.css">
</head>

<body>
    <div class="recipe_container">
        <div class="recipe_row">
            <div class="recipe_header">
                <div class="recipe_icon">
                    <a href="http://placehold.it"><img src="http://placehold.it/140x100"></a>
                </div>
                <h1>Recipe</h1>
            </div>
            <div id="recipe_function" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <form>
                    <select name="sort_by" id="sort_by">
                        <option></option>
                        <option>
                            Cuisine    
                        </option>
                        <option>
                            Rating  
                        </option>
                        <option>
                            Ingrediant 
                        </option>
                        </select>
                </form>
            </div>
            <table>
                <tr>
                    <td rowspan="3">
                        <a href="http://placehold.it"><img src="http://placehold.it/140x100"></a>
                    </td>
                    <td>Recipe Name</td>
                </tr>
                <tr>
                    <td>ingredient availiable</td>
                </tr>
                <tr>
                    <td>missing ingrediant</td>
                </tr>
            </table>
               <table>
                <tr>
                    <td rowspan="3">
                        <a href="http://placehold.it"><img src="http://placehold.it/140x100"></a>
                    </td>
                    <td>Recipe Name</td>
                </tr>
                <tr>
                    <td>ingredient availiable</td>
                </tr>
                <tr>
                    <td>missing ingrediant</td>
                </tr>
            </table>
               <table>
                <tr>
                    <td rowspan="3">
                        <a href="http://placehold.it"><img src="http://placehold.it/140x100"></a>
                    </td>
                    <td>Recipe Name</td>
                </tr>
                <tr>
                    <td>ingredient availiable</td>
                </tr>
                <tr>
                    <td>missing ingrediant</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
